html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
div{
	width: 100%;
}
h1{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 300px;
	width: 300px;
}
#cameraVideo{
	height: 100%;
	width: 100%;
}
#camera, #cameraCanvas, #cameraOutput{
	position: fixed;
	object-fit: cover;
}
#cameraVideo, #cameraCanvas, #cameraOutput{
	transform: scaleX(-1);
	filter: FlipH;
	max-width: 100%;
	width: 320px;
}
#buttonConnect{
	width: 120px;
	background-color: black;
	color: white;
	font-size: 16px;
	border-radius: 30px;
	border: none;
	padding: 15px 20px;
	text-align: center;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
	position: fixed;
	bottom: 30px;
	left: calc(20% - 60px);
}
#buttonDisconnect{
	width: 120px;
	background-color: black;
	color: white;
	font-size: 16px;
	border-radius: 30px;
	border: none;
	padding: 15px 20px;
	text-align: center;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
	position: fixed;
	bottom: 30px;
	left: calc(80% - 60px);
}
#buttonSnapshot{
	width: 120px;
	background-color: black;
	color: white;
	font-size: 16px;
	border-radius: 30px;
	border: none;
	padding: 15px 20px;
	text-align: center;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
	position: fixed;
	bottom: 30px;
	left: calc(50% - 60px);
}
.taken{
	height: 100px!important;
	width: 100px!important;
	transition: all 0.5s ease-in;
	border: solid 3px white;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
	top: 20px;
	right: 20px;
	z-index: 2;
}
